name: Scrape discord

on:
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
      packages: write
      pull-requests: write
      issues: write
      statuses: write
      deployments: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: Install and build
        run: |
          npm ci
          npm run build
          npm run start
          find build/chunks -name '*.js' | xargs -P $(nproc) -I {} npx js-beautify "{}" -r
          find build/assets -name '*.css' | xargs -P $(nproc) -I {} npx js-beautify "{}" -r

      - name: Configure git
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.nor
